**/.DS_Store*
.svn
*~
**/.*.swp
**/TAGS
**/.tags
**/*.log
**/*.sqlite
**/*.7z
**/*.zip
**/*.tar
**/*.jar
**/*.rar
**/*.iso
**/*.gz
**/*.dmg
**/*.dll
**/*.class
**/*.exe
**/*.o
**/*.so
**/*.lst
**/*.swo
**/*.pyc
**/*.hist
**/*.orig
**/ehthumbs.db
**/Thumbs.db
**/Icon?
**/.tern-project
*syncd.*
*.hist
**/.ropeproject
**/.phpcomplete_extended
**/.vscode
**/blah.*
**/blah/*
.workbook
**/.aider*/*
**/.aider*
**/.claude
!**/.claude/agents
**/.playwright-mcp/*
