[submodule "oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "oh-my-zsh/custom/plugins/zsh-completions"]
	path = oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "dir_colors"]
	path = dir_colors
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "bin/tmuxifier"]
	path = bin/tmuxifier
	url = https://github.com/jimeh/tmuxifier.git
[submodule "bin/vim-plug"]
	path = bin/vim-plug
	url = https://github.com/junegunn/vim-plug.git
