[submodule ".local/share/dots/zplug"]
	path = .local/share/dots/zplug
	url = https://github.com/zplug/zplug.git
[submodule ".local/share/dots/pipes"]
	path = .local/share/dots/pipes
	url = https://github.com/pipeseroni/pipes.sh.git
[submodule ".local/share/dots/base16-alacritty"]
	path = .local/share/dots/base16-alacritty
	url = https://github.com/aarowill/base16-alacritty.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
