vim/autoload/plug.vim.old
vim/plugged/*
!vim/plugged/.gitkeep
vim/.netrwhist
config/pianobar/passwords.yml
weechat/logs
weechat/weechat.log
weechat/weechat_fifo_*
config/nvim/plugged/*
!config/nvim/plugged/.gitkeep
config/nvim/.netrwhist
config/nvim/autoload/plug.vim.old
