[Unit]
Description=f.lux for X
After=wm.target

[Service]
Type=forking
ExecStart=/usr/bin/xflux `%h/.bin/latlong.sh`
Restart=always
RestartSec=10

[Install]
WantedBy=wm.target
