[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=f.lux
Comment=Changes screen temp for better sleep
Exec=/home/eligundry/.bin/latlong.sh xflux
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

